@import "global.css";

html {
  background-color: var(--background-color);
  color: var(--text-color);
}

#main {
  padding-left: 100px;
  padding-right: 100px;
}

#services, #fees {
  margin-top: 75px;
}

#services-content {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#services-intro {
	text-align: right;
	padding-right: 50px;
}

#fees-content {
	margin: auto;
	width: 75%;
}
