@import "global.css";

html {
  background-color: var(--background-color);
  color: var(--text-color);
}

/*Main CSS*/
#main {
  padding-left: 100px;
  padding-right: 100px;
}

#about-us {
  margin-top: 75px;
}

#about-us p {
	padding-left: 15px;
}

#about-us img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#provided {
  text-align: center;
}
