@import "global.css";

html {
  background-color: var(--background-color);
  color: var(--text-color);
}

/*Header CSS*/
#upper-display {
  display: flex;
  justify-content: center;
}

#upper-display a {
  color: var(--text-color);
}

#upper-display a:hover {
  color: #525252;
}

/*Navbar CSS*/

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

#home {
  float: left !important;
  margin-right: 30px;
  padding: 0;
}

#home a {
  top: 1px !important;
}

#home img {
  margin-right: 5px;
  margin-bottom: -4px;
  padding: 0;
}

#navbar li a {
  display: block;
  height: 100%;
  color: var(--text-color);
  text-align: center;
  padding: 24px 20px;
  margin: 0;
  text-decoration: none;
  position: relative;
  top: 6px;
  margin-top: -6px;
}

#navbar li a:hover {
  background-color: var(--secondary-color);
}

/*Footer CSS*/
#footer {
  margin-top: 75px;
  background-color: var(--primary-color);
  padding: 10px;
  border-radius: 10px;
}

#footer p {
  text-align: center;
}

#main {
	display: grid;
	grid-template-columns: 1fr 1.25fr;
	margin: auto;
	margin-top: 20px;
}

#main img {
	margin: auto;
}

#right-section {
}