@import "global.css";

html {
  background-color: var(--background-color);
  color: var(--text-color);
}

#main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: auto;
	margin-top: 20px;
}

#main img {
	margin: auto;
}

#left-section, #right-section {
	margin: 50px;
}

#left-section p {
	padding-left: 15px;
}
